.ml-10 {
  margin-left: 10px;
}

.header {
  margin-bottom: 10px;
  display: flex;
  z-index: 100;
}

.btn {
  padding: 10px;
  border: none;
}

.btn:hover {
  cursor: pointer;
}

.danger-btn:hover {
  background: tomato;
}

.disabled-btn {
  padding: 10px;
  border: none;
}

.disabled-btn:hover {
  cursor: not-allowed;
}

.operation-container {
  display: flex;
}

.operation-container > .right {
  margin-left: auto;
}

.node {
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.node:hover {
  background-color: lightskyblue;
}

.selected {
  background-color: lightskyblue;
}

.pointed {
  cursor: pointer;
}

.pane {
  padding: 10px;
  overflow-y: scroll;
}

.footer-pane {
  padding: 10px;
  z-index: 100;
}
