.header {
  margin-bottom: 10px;
}

#remove-connection-btn {
  padding: 10px;
  cursor: pointer;
  border: none;
}

#remove-connection-btn:hover {
  background: skyblue;
}

.operation-container {
  display: flex;
}

.operation-container > .right {
  margin-left: auto;
}

.node {
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.node:hover {
  background-color: lightskyblue;
}

.selected {
  background-color: lightskyblue;
}

.pointed {
  cursor: pointer;
}
